<%= link_to product_path(product.id), class: "product", 'data-turbo-frame': "_top" do %>
  <h3><%= product.title %></h3>
<% end %>
<%= image_tag product.photo, width: 200 if product.photo.attached? %>
<br>
<span><%= product.description %></span>
<br>
<span>$<%= product.price %></span>
<br>
